
<div style="width: 25%;margin-left: 30px;margin-top: 50px;">
  <div>
     <h2 style="font-weight: bold;">Why Choose Us?</h2> 
     <ul>
         <li>30 min claim support*</li>
         <li>Tax benifits upto Rs 75,000 under Sec.80D</li>
         <li>Instant Purchase</li>
         <li>No Room Rent Capping</li>
         <li>10,000+ Hospital for cashless treatment</li>
         <li>Pre-hospitalization and Post hospitalization cover</li>
         <li>No Room Rent Capping</li>
      </ul>
    </div>
 
 
</div>



 
