.register-card {
    top: -340px;
    max-width: 400px;
    left: 700px;
    right: 20px;
    border: 1px solid black;
    border-radius: 10px; overflow: hidden;;
    background-color:#e9e7e7;
    
    }

.register-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
  }

 

.title{
    margin-left: 60px;
  }

.align{
    margin-left: 60px ;
  }

button{
    margin-left: 130px;

  }

  .card{
    margin-top: 150px;
    margin-left: 30px;
}

