
.body{
  height: 200%;
}
.register-card {
    top: -350px;
    max-width: 400px;
    left: 700px;
    right: 20px;
    border: 1.5px solid rgb(167, 70, 6);
    border-radius: 10px; overflow: hidden;;
    background-color:#ffffff;
    
    }
  


.register-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
  }

 

.title{
    margin-left: 60px;
  }

.align{
    margin-left: 60px ;
  }

button{
    margin-left: 130px;

  }

  .card{
    margin-top: 150px;
    margin-left: 30px;
}

