<app-navbar [showButton]="true"></app-navbar>
<body>
<div class="image-container">
<img src=".../../../../assets/landing.jpg" class="full-width-image" />
<div class="text-overlay">
    <h1>INSURING YOUR TRUST</h1>
    <p>Secure your Future,Protect Whats Important</p>
    <button style="background-color: green;" mat-button  (click)="moveTo()">GET STARTED>></button>
  </div>
  <div class="blue-div">
    <div class="contact-info">

       <div class="contact-info__item"> <mat-icon>phone</mat-icon> +91xxxxxxxxxx</div>
        <div class="contact-info__item"><mat-icon>email</mat-icon> insurance@gmail.com</div>
        <div  class="contact-info__item"><mat-icon>schedule</mat-icon>24 Hours Customer Support</div>
      </div>
      
     </div>
  
</div>


<div class="info1">
    <h4 class="info">KNOW ABOUT OUR COMPANY</h4>
    <h1 style="color: gray;font-weight: bold;">We Are Insurance Company</h1>
    <p>We have been providing stability and reliability to our
        clients since 2000<br> to help them live their lives with confidence, 
        give them peace of mind,<br> and enable them to realise their dreams for their loved ones and their legacy. </p>
</div>

</body>