<app-navbar [showButton]="true"></app-navbar>

<!-- <div class="card">
    <div class="card-body">
      <h1 class="card-title">Welcome</h1>
      <p class="card-text"></p>
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title"><pre>Policy Name                                   Cover Amount</pre></h2>
                  
              </div>
          </div>
      <a href="" class="btn btn-primary">Buy Premium</a>
    </div>
  </div> -->
  <div class="card" style="background-color: #eee;">
      <div class="card-body">
        <h1 class="card-title">Welcome</h1>
        <p class="card-text"></p>
  <section>
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 ">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">

                    <h2>POLICY NAME</h2>
                    <div class="mt-1 mb-0 text-muted small">
                      <span class="text-primary"> • </span>
                      <span>No room rent Limit</span> <br/>
                      <span class="text-primary"> • </span>
                      <span>₹2 Lakhs No Claim Bonus</span> <br/>
                      <span class="text-primary"> • </span>
                      <span>Unlimited Restoration of Cover<br /></span>
                    </div>


                  </div>
                </div>
                
                <div class="col-md-12 col-lg-1 col-xl-4 mb-2 mb-lg-0 border-sm-start-none border-start">
                  
                  <!-- <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    
                  </div> -->
                  
                  <!-- <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div> -->
                  <!-- <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p> -->
                  <h3 style="text-align: center;color:gray">Cover Amount</h3>
                  <h2 style="font-weight: bold;text-align: center;">₹5 Lakhs</h2>
                  
                </div>
                <div class="col-md-5 col-lg-1 col-xl-4 mb-2 mb-lg-0 border-sm-start-none border-start">
                  <div>
                    <h3 style="color:gray;text-align: center;">Cashless Hospitals</h3>
                    
                  <h2 style="font-weight: bold;text-align: center;">100</h2>
                  </div> 
                   
                  
                </div>
              </div>
              <div class="d-flex flex-column mt-4 mb-4 text-right">
                <button class="btn btn-primary btn-sm" type="button" style="size: 20px;">₹593/month</button>
                <h6 class="text-success" style="text-align: center;">₹17111 annually</h6>
                
              </div>
            </div>
            </div>
          </div>
        
      </div>
      
    </div>
  </section> 
</div>
</div> 