<body>
<app-navbar [showButton]="true"></app-navbar>


<!-- Testimonial card -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width: 50%;margin-left: 30px;margin-top: 100px;">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <p style="font-weight: bold;font-size: 35px;margin-top: 40px;margin-left: 15px;">What our customers say about us</p>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-4 mt-4">
        <div class="card testimonial-card">
          <div class="card-body">
            <img src="../../assets/double-quote.png" class="testimonial-img" alt="Testimonial 1">
            <h5 class="card-title" style="font-weight: bold;">Rishab Mehta</h5>
            <p class="card-text" ><br><br>"Thank you very much for your support for getting my policy quickly.Appreciate your great work"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-4 mt-4">
        <div class="card testimonial-card">
          <div class="card-body">
            <img src="../../assets/double-quote.png" class="testimonial-img" alt="Testimonial 1">
            <h5 class="card-title" style="font-weight: bold;">Anurag Singh</h5>
            <p class="card-text"><br><br>"Easy policy without an agent!! Life is easy with you!<br>THANKS A LOT!"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-4 mt-4">
        <div class="card testimonial-card">
          <div class="card-body">
            <img src="../../assets/double-quote.png" class="testimonial-img" alt="Testimonial 1">
            <h5 class="card-title" style="font-weight: bold;">Manisha Mukherjee</h5>
            <p class="card-text"><br><br>"Thank you facilitating and following up my policies.Very pleasurable experience with you folks!Keep going!"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Registration form -->
<mat-card class="register-card">
    <mat-card-content>
    <br>
    <mat-card-title >Just few last details </mat-card-title>
    <mat-card-subtitle >To help us find you the right plan</mat-card-subtitle>
    <br>
    
    <div>
              <mat-radio-group class="tobacco-radio-group">
                <h2 class="tobacco-radio-button">&nbsp;&nbsp;&nbsp;Nicotin/Tobacco</h2>
                <mat-radio-button class="tobacco-radio-button" value="yes">Yes</mat-radio-button>
                <mat-radio-button class="tobacco-radio-button" value="no" checked>No</mat-radio-button>
              </mat-radio-group>
    </div>   
    <br>

    <div>
        <div>
            <h2>&nbsp; &nbsp;Do you have an existing illness or medical history?</h2>
            <div class="subheading">&nbsp; &nbsp;This helps us find plans that cover your condition and avoid claim rejection</div>
          <br>
        </div>

        <div class="border" style="background-color: white;">
            <mat-checkbox >Hypertension</mat-checkbox>
        </div>
        <br>
          
        <div  class="border" style="background-color: white; margin-bottom:  0px;">
            <mat-checkbox >Diabetes</mat-checkbox>
        </div>

        <button mat-raised-button color="primary" style="margin-left:12px" type="submit" (click)="moveTob()">Back</button>
        <button mat-raised-button style="margin-left:400px;" color="primary" type="submit" (click)="moveTof()" >Next</button>   
    </div>
    </mat-card-content>



</mat-card>
</body>



