

 <app-navbar  [showButton]="true"></app-navbar>

 
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="register-card">
        <br/>
            <mat-card-title style="text-align: center" >Create your Password</mat-card-title>
            <br/><br/>
            <div class="register-container">
                &nbsp;
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password"  appearance="fill" required>
                    <mat-error *ngIf="form.get('password')?.hasError('required')">Required</mat-error>
                    <mat-error  *ngIf="form.get('password')?.hasError('minlength')">Password must be at least 8 characters long.</mat-error>
                </mat-form-field>

          
        
      
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password"  formControlName="confirmPassword" appearance="fill" required>
                    <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="form.get('confirmPassword')?.hasError('mismatch')">Passwords do not match.</mat-error>
                </mat-form-field>
         
                <br>
                <br>
        
                <mat-checkbox #checkbox required formControlName="agreeToTerms">
                 <p class="disclaimer">By submitting my details ,I  authorize Insurance and its representatives to 
                    contact me through call,RCS,WhatsApp or E-mail. I further consent to share my information 
                    on confidential basis with third parties for evaluating and processing this proposal.</p>
                </mat-checkbox>
   
        
       
                <div class="button-container">
                    <button mat-raised-button color="primary"  type="submit" [disabled]="!checkbox.checked">SUBMIT</button>
               
                </div>c
                <br>
                <mat-error style="text-align: center;" *ngIf="errorMessage">{{errorMessage}}</mat-error>
            </div>
            <br>

    </mat-card>

</form>





<!-- <div class="card-container">
    <mat-card class="show">
        <mat-card-header>
            <img mat-card-avatar class="img" src="../../assets/new_one.png" alt="Image 1">
            <mat-card-title> &nbsp;Myself</mat-card-title>
        </mat-card-header>
        
        <ul>
            <li>For Individuals aged between 18 to 65 years.</li>
            <li>No capping on room rent - Treatment at Single Standard A/C room</li>
            <li>Hospital cash benefits</li>
            <li>All day care procedures are covered</li>
            <li>Cost of health check up for every claim free year.</li>
        </ul>
      
    </mat-card>
    <mat-card class="show">
        <mat-card-header>
            <img mat-card-avatar class="img" src="../../assets/two_new.png" alt="Image 1">
            <mat-card-title> &nbsp;My Family</mat-card-title>
        </mat-card-header>
        <ul>
            <li>Affordable Health Insurance cover on a floater basis</li>
            <li>Covers Dental / ophthalmic treatments on OPD basis</li>
            <li>Upto 100% Increase in Sum Insured upon a claim free renewal</li>
            <li>Benefits include Air ambulance facility and availing Second medical opinion</li>
            <li>No capping on room rent - Treatment at Single A/C room</li>
        </ul>
    </mat-card>
    <mat-card class="show">
        <mat-card-header>
            <img mat-card-avatar class="img" src="../../assets/three_new.png" alt="Image 1">
            <mat-card-title> &nbsp;My Parents</mat-card-title>
        </mat-card-header>
        <ul>
            <li>For Senior citizens aged between 60 to 75 years</li>
            <li>No pre-insurance medical test required</li>
            <li>Covers pre-existing diseases from the second year onwards</li>
            <li>Medical Consultations as an Out Patient in a Network Hospital</li>
            <li>Guaranteed lifetime renewals</li>
        </ul>
    </mat-card>
 </div> -->
<app-bootstrap-card></app-bootstrap-card>





