.register-card {
  top: 50px;
  max-width: 600px;
  left: 600px;
  right: 30px;
  
  height: 80vh;
  background-color: #ffffff;

  border: 1.5px solid rgb(167, 70, 6);
    border-radius: 10px; overflow: hidden;;
    background-color:#ffffff;


}


.register-form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
}

.register-container mat-form-field + mat-form-field {
  margin-left: 30px;
  
}

.rigt-side{
  width: 235px;
}

.right-alone{
  width: 170px;
}

.submit-button {
  left: 450px;
  bottom: 10px;
  
 
}

.reduce{
  width: 235px;
}


.together{
  width:130px;
  
}